/* Estilos para as estrelas */
.star {
    font-size: 40px; /* Tamanho grande para as estrelas */
    cursor: pointer;
    color: gray; /* Cor inicial (estrela vazia) */
    transition: color 0.2s; /* Efeito suave de transição */
}

.star.filled {
    color: gold; /* Cor quando a estrela está preenchida */
}

#starRating {
    margin-top: 20px;
}

#ratingMessage {
    font-size: 16px;
    margin-top: 10px;
}
